---
http_interactions:
- request:
    method: post
    uri: https://app.wercker.com/api/v3/runs
    body:
      encoding: UTF-8
      string: '{"pipelineId":"595a6b1b24ac030100da5307"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Wercker-Trace-Id:
      - 60023212b0a676cc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595bb5b73c2e15000198eccb","url":"https://app.wercker.com/api/v3/runs/595bb5b73c2e15000198eccb","branch":"master","commitHash":"3f211c1e307be6d0af378bce8c3aa2f5a9c2f810","createdAt":"2017-07-04
        15:35:19.999688998 +0000 UTC","message":"bump minor verions","result":"unknown","status":"notstarted","user":{"type":"wercker","name":"yann","userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"}},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03
        16:04:43.73 +0000 UTC","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}}'
  recorded_at: Tue, 04 Jul 2017 15:35:24 GMT
- request:
    method: put
    uri: https://app.wercker.com/api/v3/runs/595bb5b73c2e15000198eccb/abort
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"363-3d97ee07"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595bb5b73c2e15000198eccb","url":"https://app.wercker.com/api/v3/runs/595bb5b73c2e15000198eccb","branch":"master","commitHash":"3f211c1e307be6d0af378bce8c3aa2f5a9c2f810","createdAt":"2017-07-04T15:35:19.999Z","envVars":[],"finishedAt":"2017-07-04T15:35:20.936Z","message":"bump
        minor verions","commits":[],"progress":0,"result":"aborted","startedAt":"2017-07-04T15:35:20.029Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 15:35:25 GMT
recorded_with: VCR 3.0.3
