---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/applications/StupidCodeFactory/wercker_api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6EhHuDHWd41hW32Z7TW/qQ=="
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595a6b1ba01812010072fc1c","url":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api","name":"wercker_api","owner":{"type":"wercker","name":"yann","avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user","werckerEmployee":false}},"builds":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api/builds","deploys":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api/deploys","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"},"badgeKey":"15fd697b0b3ff854e408a5c256e6737b","createdAt":"2017-07-03T16:04:43.374Z","updatedAt":"2017-07-03T20:29:42.731Z","allowedActions":["delete_project","update_project","transfer_ownership_project","update_checkout_key","migrate_application","list_authorizations","create_authorization","read_authorization","update_authorization","delete_authorization","read_heroku_collaborators","send_invites","create_key","delete_key","update_key","update_teams","delete_team","update_org","create_member","delete_member","update_member","create_team_members","delete_team_members","org_create_app","org_transferownership_app","org_transfer_apiUs[...]
- request:
    method: get
    uri: https://app.wercker.com/api/v3/workflows?applicationId=595a6b1ba01812010072fc1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"LeHTlPglbpk5Q1RPiB2fCQ=="
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://app.wercker.com/api/v3/workflows/595bb6a83c2e15000198ee16","createdAt":"2017-07-04T15:39:20.408Z","data":{"branch":"trigger-a-run","commitHash":"4b4f4102382d2f43ebb2d57c95571a06787c4ba7","message":"bump
        version","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"}},"id":"595bb6a83c2e15000198ee16","items":[{"data":{"targetName":"build","pipelineId":"595a6b1b24ac030100da5307","restricted":false,"totalSteps":8,"currentStep":8,"stepName":"store","runId":"595bb6a83c2e15000198ee15"},"id":"595bb6a83c2e15000198ee17","progress":100,"result":"passed","status":"finished","type":"run","updatedAt":"2017-07-04T15:39:38.138Z"}],"startedAt":"2017-07-04T15:39:22.212Z","trigger":"git","updatedAt":"2017-07-04T15:39:38.137Z","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"}},{"url":"https://app.wercker.com/api/v3/workflows/595bb6823c2e15000198edf4","createdAt":"2017-07-04T15:38:42.634Z","data":{"branch":"master","commitHash":"5850b55cd1d2aee3c73c29337fe4f7d6f27feb65","message":"Merge
        pull request #5 from StupidCodeFactory/trigger-a-run\n\nTrigger and Abort
        APIs","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"}},"id":"595bb6823c2e15000198edf4","items":[{"data":{"targetName":"build","pipelineId":"595a6b1b24ac030100da5307","restricted":false,"totalSteps":8,"currentStep":8,"stepName":"store","runId":"595bb6823c2e15000198edf3"},"id":"595bb6823c2e15000198edf5","progress":100,"result":"passed","status":"finished","type":"run","updatedAt":"2017-07-04T15:39:05.961Z"},{"data":{"targetName":"deploy","pipelineId":"595aeb089a634a010023715e","restricted":false,"totalSteps":11,"currentStep":10,"stepName":"configure
        release","runId":"595bb69a3c2e15000198edfc"},"id":"595bb6823c2e15000198edf6","parentItem":"595bb6823c2e15000198edf5","progress":90,"result":"failed","status":"finished","type":"run","updatedAt":"2017-07-04T15:39:32.399Z"}],"startedAt":"2017-07-04T15:38:44.530Z","trigger":"git","updatedAt":"2017-07-04T15:39:32.395Z","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"}},{"url":"https://app.wercker.com/api/v3/workflows/595bb5f63c2e15000198ecef","createdAt":"2[...]
