---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/workflows?applicationId=595a6b1ba01812010072fc1c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"PLddlA05Jxk3mOH0aD0eFg=="
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://app.wercker.com/api/v3/workflows/595aeee73c2e150001977cad","createdAt":"2017-07-04T01:27:03.044Z","data":{"branch":"master","commitHash":"a49e01b9a11f6941d79d4a4bce4214ef90193d02","message":"Merge
        branch ''code-coverage''","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"}},"id":"595aeee73c2e150001977cad","items":[{"data":{"targetName":"build","pipelineId":"595a6b1b24ac030100da5307","restricted":false,"totalSteps":8,"currentStep":8,"stepName":"store","runId":"595aeee73c2e150001977cac"},"id":"595aeee73c2e150001977cae","progress":100,"result":"passed","status":"finished","type":"run","updatedAt":"2017-07-04T01:27:30.640Z"},{"data":{"targetName":"deploy","pipelineId":"595aeb089a634a010023715e","restricted":false,"totalSteps":11,"currentStep":11,"stepName":"store","runId":"595aef023c2e150001977cc3"},"id":"595aeee73c2e150001977caf","parentItem":"595aeee73c2e150001977cae","progress":100,"result":"passed","status":"finished","type":"run","updatedAt":"2017-07-04T01:28:31.449Z"}],"startedAt":"2017-07-04T01:27:16.486Z","trigger":"git","updatedAt":"2017-07-04T01:28:31.447Z","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"}},{"url":"https://app.wercker.com/api/v3/workflows/595aee993c2e150001977c55","createdAt":"2017-07-04T01:25:45.229Z","data":{"branch":"code-coverage","commitHash":"c5912ba0343b0547b46bed3988d47746263046bd","message":"bump","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"}},"id":"595aee993c2e150001977c55","items":[{"data":{"targetName":"build","pipelineId":"595a6b1b24ac030100da5307","restricted":false,"totalSteps":8,"currentStep":7,"stepName":"rspec","runId":"595aee993c2e150001977c54"},"id":"595aee993c2e150001977c56","progress":100,"result":"passed","status":"finished","type":"run","updatedAt":"2017-07-04T01:26:12.244Z"}],"startedAt":"2017-07-04T01:25:48.794Z","trigger":"git","updatedAt":"2017-07-04T01:26:12.240Z","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"}},{"url":"https://app.wercker.com/api/v3/workflows/595aee5e1ee20400013b8da8","createdAt":"2017-07-04T01:24:46.946Z","data":{"branch":"master","message":"Auto
        trigger from Pipeline \"build\" to Pipeline \"deploy\"","sourceRunId":"595aee0d3c2e150001977bd8"},"id":"595aee5e1ee20400013b8da8","items":[{"data":{"targetName":"deploy","pipelineId":"595aeb089a634a010023715e","restricted":false,"totalSteps":11,"currentStep":10,"stepName":"configure
        release","runId":"595aee5e1ee20400013b8da7"},"id":"595aee5e1ee20400013b8da9","progress":90,"result":"failed","status":"finished","type":"run","updatedAt":"2017-07-04T01:25:25.250Z"}],"startedAt":"2017-07-04T01:24:50.713Z","trigger":"workflow","updatedAt":"2017-07-04T01:25:25.24[...]
