---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/applications/StupidCodeFactory/wercker_api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"p022kODf61eaGSb9wlVp5Q=="
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595a6b1ba01812010072fc1c","url":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api","name":"wercker_api","owner":{"type":"wercker","name":"yann","avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user","werckerEmployee":false}},"builds":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api/builds","deploys":"https://app.wercker.com/api/v3/applications/stupidcodefactory/wercker_api/deploys","scm":{"type":"git","owner":"StupidCodeFactory","domain":"github.com","repository":"wercker_api"},"badgeKey":"15fd697b0b3ff854e408a5c256e6737b","createdAt":"2017-07-03T16:04:43.374Z","updatedAt":"2017-07-03T16:04:43.374Z","allowedActions":["delete_project","update_project","transfer_ownership_project","update_checkout_key","migrate_application","list_authorizations","create_authorization","read_authorization","update_authorization","delete_authorization","read_heroku_collaborators","send_invites","create_key","delete_key","update_key","update_teams","delete_team","update_org","create_member","delete_member","update_member","create_team_members","delete_team_members","org_create_app","org_transferownership_app","org_transfer_apiUs[...]
