---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs?pipelineId=595a6b1b24ac030100da5307
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"PbdD9kmmpxI6KXNN644FvA=="
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"595c1a2b1ee20400013bacbf","url":"https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf","branch":"pipeline-runner","commitHash":"a75f56b63f7aee3b0a9e8045426704ce34155e91","createdAt":"2017-07-04T22:43:55.359Z","finishedAt":"2017-07-04T22:44:28.516Z","message":"make
        build slower","progress":85,"result":"failed","startedAt":"2017-07-04T22:43:55.457Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}},{"id":"595c19053c2e150001996336","url":"https://app.wercker.com/api/v3/runs/595c19053c2e150001996336","branch":"master","commitHash":"5850b55cd1d2aee3c73c29337fe4f7d6f27feb65","createdAt":"2017-07-04T22:39:01.763Z","finishedAt":"2017-07-04T22:39:16.572Z","message":"Merge
        pull request #5 from StupidCodeFactory/trigger-a-run\n\nTrigger and Abort
        APIs","progress":87,"result":"failed","startedAt":"2017-07-04T22:39:01.792Z","status":"finished","user":{"userId":"56a[...]
