---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs?pipelineId=595a6b1b24ac030100da5307
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"nHILk1t1n1gRZIvxftCkJg=="
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"595aeee73c2e150001977cac","url":"https://app.wercker.com/api/v3/runs/595aeee73c2e150001977cac","branch":"master","commitHash":"a49e01b9a11f6941d79d4a4bce4214ef90193d02","createdAt":"2017-07-04T01:27:03.125Z","finishedAt":"2017-07-04T01:27:23.507Z","message":"Merge
        branch ''code-coverage''","progress":100,"result":"passed","startedAt":"2017-07-04T01:27:03.211Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}},{"id":"595aee993c2e150001977c54","url":"https://app.wercker.com/api/v3/runs/595aee993c2e150001977c54","branch":"code-coverage","commitHash":"c5912ba0343b0547b46bed3988d47746263046bd","createdAt":"2017-07-04T01:25:45.230Z","finishedAt":"2017-07-04T01:26:02.571Z","message":"bump","progress":100,"result":"passed","startedAt":"2017-07-04T01:25:45.274Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"stupidcodefactory","type":""},"avatar":{"grav[...]
