---
http_interactions:
- request:
    method: post
    uri: https://app.wercker.com/api/v3/runs
    body:
      encoding: UTF-8
      string: '{"branch":"pipeline-runner","pipelineId":"595a6b1b24ac030100da5307"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Wercker-Trace-Id:
      - 74361d3e8eaa2804
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1f23e7c46c00015b22dd","url":"https://app.wercker.com/api/v3/runs/595c1f23e7c46c00015b22dd","branch":"pipeline-runner","commitHash":"9ebdeff0272b85ef3798790a335afdf44ad28dff","createdAt":"2017-07-04
        23:05:07.623326475 +0000 UTC","message":"remove sleep to test all run status
        when polling for a run","result":"unknown","status":"notstarted","user":{"type":"wercker","name":"yann","userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"}},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03
        16:04:43.73 +0000 UTC","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}}'
  recorded_at: Tue, 04 Jul 2017 23:05:07 GMT
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c1f23e7c46c00015b22dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b-156c36b8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1f23e7c46c00015b22dd","url":"https://app.wercker.com/api/v3/runs/595c1f23e7c46c00015b22dd","branch":"pipeline-runner","commitHash":"9ebdeff0272b85ef3798790a335afdf44ad28dff","createdAt":"2017-07-04T23:05:07.623Z","envVars":[],"message":"remove
        sleep to test all run status when polling for a run","commits":[],"progress":5,"result":"unknown","startedAt":"2017-07-04T23:05:07.646Z","status":"running","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 23:05:10 GMT
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c1f23e7c46c00015b22dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b-156c36b8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1f23e7c46c00015b22dd","url":"https://app.wercker.com/api/v3/runs/595c1f23e7c46c00015b22dd","branch":"pipeline-runner","commitHash":"9ebdeff0272b85ef3798790a335afdf44ad28dff","createdAt":"2017-07-04T23:05:07.623Z","envVars":[],"message":"remove
        sleep to test all run status when polling for a run","commits":[],"progress":5,"result":"unknown","startedAt":"2017-07-04T23:05:07.646Z","status":"running","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 23:05:12 GMT
recorded_with: VCR 3.0.3
