---
http_interactions:
- request:
    method: post
    uri: https://app.wercker.com/api/v3/runs
    body:
      encoding: UTF-8
      string: '{"branch":"pipeline-runner","pipelineId":"595a6b1b24ac030100da5307"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Wercker-Trace-Id:
      - 1d37187023a5d4e3
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1a2b1ee20400013bacbf","url":"https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf","branch":"pipeline-runner","commitHash":"a75f56b63f7aee3b0a9e8045426704ce34155e91","createdAt":"2017-07-04
        22:43:55.359468446 +0000 UTC","message":"make build slower","result":"unknown","status":"notstarted","user":{"type":"wercker","name":"yann","userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"}},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03
        16:04:43.73 +0000 UTC","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}}'
  recorded_at: Tue, 04 Jul 2017 22:43:55 GMT
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"343-60086fa6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1a2b1ee20400013bacbf","url":"https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf","branch":"pipeline-runner","commitHash":"a75f56b63f7aee3b0a9e8045426704ce34155e91","createdAt":"2017-07-04T22:43:55.359Z","envVars":[],"message":"make
        build slower","commits":[],"progress":57,"result":"unknown","startedAt":"2017-07-04T22:43:55.457Z","status":"running","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 22:44:06 GMT
[...]
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b-1b0a3aba"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c1a2b1ee20400013bacbf","url":"https://app.wercker.com/api/v3/runs/595c1a2b1ee20400013bacbf","branch":"pipeline-runner","commitHash":"a75f56b63f7aee3b0a9e8045426704ce34155e91","createdAt":"2017-07-04T22:43:55.359Z","envVars":[],"finishedAt":"2017-07-04T22:44:28.516Z","message":"make
        build slower","commits":[],"progress":85,"result":"failed","startedAt":"2017-07-04T22:43:55.457Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 22:44:37 GMT
recorded_with: VCR 3.0.3
