---
http_interactions:
- request:
    method: post
    uri: https://app.wercker.com/api/v3/runs
    body:
      encoding: UTF-8
      string: '{"pipelineId":"595a6b1b24ac030100da5307"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Wercker-Trace-Id:
      - 523e5871a31dc916
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c183a1ee20400013bac95","url":"https://app.wercker.com/api/v3/runs/595c183a1ee20400013bac95","branch":"master","commitHash":"5850b55cd1d2aee3c73c29337fe4f7d6f27feb65","createdAt":"2017-07-04
        22:35:38.523548381 +0000 UTC","message":"Merge pull request #5 from StupidCodeFactory/trigger-a-run\n\nTrigger
        and Abort APIs","result":"unknown","status":"notstarted","user":{"type":"wercker","name":"yann","userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"}},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03
        16:04:43.73 +0000 UTC","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"}}'
  recorded_at: Tue, 04 Jul 2017 22:35:38 GMT
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c183a1ee20400013bac95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37d-81e784b2"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c183a1ee20400013bac95","url":"https://app.wercker.com/api/v3/runs/595c183a1ee20400013bac95","branch":"master","commitHash":"5850b55cd1d2aee3c73c29337fe4f7d6f27feb65","createdAt":"2017-07-04T22:35:38.523Z","envVars":[],"message":"Merge
        pull request #5 from StupidCodeFactory/trigger-a-run\n\nTrigger and Abort
        APIs","commits":[],"progress":50,"result":"unknown","startedAt":"2017-07-04T22:35:38.551Z","status":"running","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 22:35:49 GMT
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595c183a1ee20400013bac95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a5-d338e365"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"595c183a1ee20400013bac95","url":"https://app.wercker.com/api/v3/runs/595c183a1ee20400013bac95","branch":"master","commitHash":"5850b55cd1d2aee3c73c29337fe4f7d6f27feb65","createdAt":"2017-07-04T22:35:38.523Z","envVars":[],"finishedAt":"2017-07-04T22:35:54.126Z","message":"Merge
        pull request #5 from StupidCodeFactory/trigger-a-run\n\nTrigger and Abort
        APIs","commits":[],"progress":87,"result":"failed","startedAt":"2017-07-04T22:35:38.551Z","status":"finished","user":{"userId":"56a4de11212b43b24e0b6175","meta":{"username":"StupidCodeFactory","type":"user"},"avatar":{"gravatar":"a4346267407e112504b5dab1dac534ea"},"name":"yann","type":"wercker"},"pipeline":{"id":"595a6b1b24ac030100da5307","url":"https://app.wercker.com/api/v3/pipelines/595a6b1b24ac030100da5307","createdAt":"2017-07-03T16:04:43.730Z","name":"build","permissions":"public","pipelineName":"build","setScmProviderStatus":true,"type":"git"},"pullRequest":{}}'
  recorded_at: Tue, 04 Jul 2017 22:36:00 GMT
recorded_with: VCR 3.0.3
