---
http_interactions:
- request:
    method: get
    uri: https://app.wercker.com/api/v3/runs/595aef023c2e150001977cc3/steps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer some_api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"pSWxC5zBcGN28SayxnX32g=="
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"595aef023c2e150001977cc4","url":"https://app.wercker.com/api/v3/runsteps/595aef023c2e150001977cc4","artifactsUrl":null,"createdAt":"2017-07-04T01:27:30.635Z","finishedAt":"2017-07-04T01:27:32.631Z","logUrl":"https://app.wercker.com/api/v3/runsteps/595aef023c2e150001977cc4/log","order":1,"result":"passed","startedAt":"2017-07-04T01:27:32.357Z","status":"finished","step":"get
        code"},{"id":"595aef023c2e150001977cc5","url":"https://app.wercker.com/api/v3/runsteps/595aef023c2e150001977cc5","artifactsUrl":null,"createdAt":"2017-07-04T01:27:30.636Z","finishedAt":"2017-07-04T01:27:53.725Z","logUrl":"https://app.wercker.com/api/v3/runsteps/595aef023c2e150001977cc5/log","order":2,"result":"passed","startedAt":"2017-07-04T01:27:33.533Z","status":"finished","step":"setup
        environment"},{"id":"595aef19cfaef000015a1489","url":"https://app.wercker.com/api/v3/runsteps/595aef19cfaef000015a1489","artifactsUrl":null,"createdAt":"2017-07-04T01:27:53.917Z","displayName":"wercker-init","finishedAt":"2017-07-04T01:27:54.235Z","logUrl":"https://app.wercker.com/api/v3/runsteps/595aef19cfaef000015a1489/log","order":3,"phase":"mainSteps","result":"passed","startedAt":"2017-07-04T01:27:53.954Z","status":"finished"},{"id":"595aef19cfaef000015a148a","url":"https://app.wercker.com/api/v3/runsteps/595aef19cfaef000015a148a","artifactsUrl":null,"createdAt":"2017-07-04T01:27:53.917Z","displayName":"bundle-install","finishedAt":"2017-07-04T01:27:56.627Z","logUrl":"https://app.wercker.com/api/v3/runsteps/595aef19cfaef000015a148a/log","order":4,"phase":"mainSteps","result":"passed","startedAt":"2017-07-04T01:27:54.440Z","status[...]
